@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 1400px) {
    .container {
        width: 1200px;
    }
}